# Import packages

In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import nltk
import re

pd.set_option('display.max_colwidth', None)
pd.reset_option('display.max_rows')
pd.set_option('display.max_columns', 200)

In [2]:
#nltk.download('brown')

# Read the CSV

In [3]:
movies_df = pd.read_csv("movies.csv")
movies_df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced into action when a group of terrorists attempt to hijack a transatlantic overnight flight.,"\n Director:\nPeter Thorwarth\n| \n Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n","21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may be the final battle between He-Man and Skeletor. A new animated series from writer-director Kevin Smith.,"\n \n Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.,"\n \n Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits of a super scientist and his not-so-bright grandson.,"\n \n Stars:\nJustin Roiland, \nChris Parnell, \nSpencer Grammer, \nSarah Chalke\n","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of the Dead, which focuses on German safecracker Ludwig Dieter leading a group of aspiring thieves on a top secret heist during the early stages of the zombie apocalypse.","\n Director:\nMatthias Schweighöfer\n| \n Stars:\nMatthias Schweighöfer, \nNathalie Emmanuel, \nRuby O. Fee, \nStuart Martin\n",NaN,NaN,NaN

# Column Datatypes

In [4]:
#datatypes
movies_df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

# Rows and Columns of the dataframe

In [5]:
# Rows and columns of the dataframe
movies_df.shape

(9999, 9)

# Column Names

In [6]:
#Rename column names
df_columns = movies_df.columns.tolist()
df_columns

['MOVIES',
 'YEAR',
 'GENRE',
 'RATING',
 'ONE-LINE',
 'STARS',
 'VOTES',
 'RunTime',
 'Gross']

__Column names were updated.__

In [7]:
for c in df_columns:
    movies_df = movies_df.rename(columns=({c: movies_df[c].name.title()}))

movies_df = movies_df.rename(columns=({'Gross': 'Gross (in million $)'}))

In [8]:
#movies_df

# Drop the duplicate rows
__Shows rows and columns after the removal of duplicate rows.__

In [9]:
#Drop duplicates
movies_df = movies_df.drop_duplicates()
movies_df.shape

(9568, 9)

In [10]:
#movies_df

# Format the columns

__Following functions are applied to completely format the abnormal column values:__                                                            
__1. strip()__ - to remove any unwanted characters such as alphabates or whitespaces                                                                          
__2. fillna()__ - fill NULL values with intended values                                                                
__3. replace()__ - replace unwanted characters with intended values                                                                    
__4. astype()__ - to convert the datatypes of the columns                                                       
__5. iteritems()__ - to loop through the records of the dataframe

## Movies

In [11]:
movies_df['Movies'] = movies_df['Movies'].str.strip()

## Votes

In [12]:
#Votes
movies_df['Votes'] = movies_df['Votes'].fillna('0')
movies_df['Votes'] = movies_df['Votes'].str.replace(',', '')
movies_df['Votes'] = movies_df['Votes'].astype(int)

## Rating

In [13]:
#Rating
movies_df['Rating'] = movies_df['Rating'].fillna(0.0)

## Gross

In [14]:
#Gross
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].str.replace('M', '').str.replace('$', '')
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].astype(float)
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].fillna(0.0)

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3438496150.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].str.replace('M', '').str.replace('$', '')

## Runtime

In [15]:
#Runtime
movies_df['Runtime'] = movies_df['Runtime'].fillna(0.0)

## Year

In [16]:
#Split year into start year and End year
movies_df["Year"] = movies_df["Year"].str.replace('(', '')
movies_df["Year"] = movies_df["Year"].str.replace(')', '')

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1038794631.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies_df["Year"] = movies_df["Year"].str.replace('(', '')
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1038794631.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies_df["Year"] = movies_df["Year"].str.replace(')', '')

In [17]:
#movies_df

In [18]:
movies_df['Year'] = movies_df['Year'].str.strip()
movies_df[["Mix", "End_Year"]] = movies_df['Year'].str.split('–', 1, expand=True)
#movies_df

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\2145209720.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies_df[["Mix", "End_Year"]] = movies_df['Year'].str.split('–', 1, expand=True)

In [19]:
# Split the Start_Year column 
movies_df['Start_Year'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\d{4}', x)))
movies_df['Season'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\b[I|V|X|L|C|D|M]+\b', x)))
movies_df['Type'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.sub(r'(\d{4}|\b[I|V|X|L|C|D|M]+\b)', '', x)))

In [20]:
#movies_df

## Genre

In [21]:
movies_df['Genre'] = movies_df['Genre'].str.strip('\n')
movies_df[['Genre1', 'Genre2', 'Genre3']] = movies_df['Genre'].str.split(',',2,expand=True)
#movies_df

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3369542858.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies_df[['Genre1', 'Genre2', 'Genre3']] = movies_df['Genre'].str.split(',',2,expand=True)

## Stars

In [22]:
#Split and clean the Stars column from the dataframe
movies_df['Stars'] = movies_df['Stars'].str.strip('\n')
stars = pd.DataFrame()
movies_df[['Director', 'Actor']] = movies_df['Stars'].str.split('|', 1, expand=True)
#movies_df

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\2988554872.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies_df[['Director', 'Actor']] = movies_df['Stars'].str.split('|', 1, expand=True)

In [23]:
for idx, value in movies_df['Director'].iteritems():
    #if idx < 10: print(idx, value)
    if 'Stars:' in value:
        movies_df['Actor'][idx], movies_df['Director'][idx] = value, ''

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3820309590.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, value in movies_df['Director'].iteritems():
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3820309590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['Actor'][idx], movies_df['Director'][idx] = value, ''

In [24]:
#movies_df

In [25]:
movies_df['Director'] = movies_df['Director'].str.replace('Director:', '')
movies_df['Director'] = movies_df['Director'].str.replace('Directors:', '')
movies_df['Actor'] = movies_df['Actor'].str.replace('Stars:', '')
movies_df['Actor'] = movies_df['Actor'].str.replace('Star:', '')
#movies_df

In [26]:
movies_df['Director'] = movies_df['Director'].str.strip()
movies_df['Actor'] = movies_df['Actor'].str.strip()
movies_df['Actor'] = movies_df['Actor'].str.replace('\n', '')

In [27]:
#movies_df

In [28]:
# The concept of cleaning these kind of columns is significant here
movies_df[['Actor1', 'Actor2', 'Actor3', 'Actor4']] = movies_df['Actor'].str.split(',', 4, expand=True)
#First 4 directors are considered
movies_df[['Director1', 'Director2', 'Director3', 'Director4', 'DirectorN']] = movies_df['Director'].str.split(',', 4, expand=True)
#movies_df

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3021022407.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies_df[['Actor1', 'Actor2', 'Actor3', 'Actor4']] = movies_df['Actor'].str.split(',', 4, expand=True)
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\3021022407.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  movies_df[['Director1', 'Director2', 'Director3', 'Director4', 'DirectorN']] = movies_df['Director'].str.split(',', 4, expand=True)

### Director

In [29]:
#Director
for idx, val in movies_df['Director1'].iteritems():
    if val == '': movies_df['Director1'][idx] = 'Unknown'
# for idx, val in movies_df['Director2'].iteritems():
#     if val == '': movies_df['Director2'][idx] = 'None'
# for idx, val in movies_df['Director3'].iteritems():
#     if val == '': movies_df['Director3'][idx] = 'None'
# for idx, val in movies_df['Director4'].iteritems():
#     if val == '': movies_df['Director4'][idx] = 'None'

movies_df['Director1'] = movies_df['Director1'].fillna('Unknown')
# movies_df['Director2'] = movies_df['Director2'].fillna('None')
# movies_df['Director3'] = movies_df['Director3'].fillna('None')
# movies_df['Director4'] = movies_df['Director4'].fillna('None')

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\2886575759.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, val in movies_df['Director1'].iteritems():
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\2886575759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if val == '': movies_df['Director1'][idx] = 'Unknown'

### Actor

In [30]:
#Actor
for idx, val in movies_df['Actor1'].iteritems():
    if val == '': movies_df['Actor1'][idx] = 'Unknown'
# for idx, val in movies_df['Actor2'].iteritems():
#     if val == '': movies_df['Actor2'][idx] = 'None'
# for idx, val in movies_df['Actor3'].iteritems():
#     if val == '': movies_df['Actor3'][idx] = 'None'
# for idx, val in movies_df['Actor4'].iteritems():
#     if val == '': movies_df['Actor4'][idx] = 'None'

movies_df['Actor1'] = movies_df['Actor1'].fillna('Unknown')
# movies_df['Actor2'] = movies_df['Actor2'].fillna('None')
# movies_df['Actor3'] = movies_df['Actor3'].fillna('None')
# movies_df['Actor4'] = movies_df['Actor4'].fillna('None')

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\2786435657.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, val in movies_df['Actor1'].iteritems():

## Start Year and End Year
__The below code is commented as I do not intend to update the NULL values with any value. The value can be determined based on the end goal.__

In [31]:
#Start Year and End Year
# movies_df['Start_Year'] = movies_df['Start_Year'].str.strip().fillna('Unknown')
# movies_df['End_Year'] = movies_df['End_Year'].str.strip().fillna('Unknown')

## One-line

In [32]:
movies_df['One-Line'] = movies_df['One-Line'].str.strip('\n')
movies_df['One-Line-Summary'] = movies_df['One-Line'].str.strip()
movies_df['One-Line-Summary'] = movies_df['One-Line-Summary'].str.strip('See full summary »')
movies_df['One-Line-Summary'] = movies_df['One-Line'].str.strip()
#Add a Plot
for idx, val in movies_df['One-Line-Summary'].iteritems():
    if val == 'Add a Plot' or '':
        movies_df['One-Line-Summary'][idx] = 'Unknown'
    else:
        blob = TextBlob(val)
        if movies_df['Movies'][idx] == 'The Kominsky Method': print(idx, blob)
        new_text = ', '.join(blob.noun_phrases)
        #if movies_df['Movies'][idx] == 'The Kominsky Method': print(idx, type(new_text))
        if new_text: movies_df['One-Line-Summary'][idx] = new_text
        else: movies_df['One-Line-Summary'][idx] = 'Unknown'
        
movies_df['One-Line-Summary'] = movies_df['One-Line-Summary'].fillna('Unknown')

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1749738586.py:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, val in movies_df['One-Line-Summary'].iteritems():
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1749738586.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if new_text: movies_df['One-Line-Summary'][idx] = new_text
C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1749738586.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: movies_df['One-Line-Summary'][idx] = 'Unknown'

101 An aging actor, who long ago enjoyed a brush with fame, makes his living as an acting coach.

C:\Users\Arunita\AppData\Local\Temp\ipykernel_99408\1749738586.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['One-Line-Summary'][idx] = 'Unknown'

6658 Norman and Madelyn get closer as they spend time together in Santa Barbara. When Sandy meets Mindy's boyfriend, he discovers they have a lot in common.
6659 Mindy's not thrilled with her dad and boyfriend's growing friendship. Norman's daughter leaves rehab, returning home while Madelyn is visiting.
6660 Interactions with two women have Sandy contemplating his changing libido. Norman tries to reconcile with both Phoebe and Madelyn.
6665 Sandy urges Norman to make a grand gesture for Madelyn. After Martin experiences a medical episode, Sandy decides to have a complete checkup.
6666 Despite Norman's prodding, Sandy remains reluctant to share some important news with Mindy. Norman and Madelyn come to an understanding.
6667 An accident forces Sandy to come clean with Mindy. After visiting Eileen's grave, Phoebe tries to make amends with Norman, but it doesn't go well.
6668 As Norman contemplates retiring, an unexpected visitor has him considering his spiritual life. Sandy dislikes changes Mindy is making at the studio.

# Rechecking the columns

In [33]:
movies_df.columns

Index(['Movies', 'Year', 'Genre', 'Rating', 'One-Line', 'Stars', 'Votes',
       'Runtime', 'Gross (in million $)', 'Mix', 'End_Year', 'Start_Year',
       'Season', 'Type', 'Genre1', 'Genre2', 'Genre3', 'Director', 'Actor',
       'Actor1', 'Actor2', 'Actor3', 'Actor4', 'Director1', 'Director2',
       'Director3', 'Director4', 'DirectorN', 'One-Line-Summary'],
      dtype='object')

# Drop unwanted columns

In [34]:
# Eliminate unwanted columns

movies_df = movies_df.drop(columns=['Year', 'Genre', 'Actor', 'Stars', 'Director', 'DirectorN', 'One-Line', 'Mix'], axis=1)
movies_df

,Movies,Rating,Votes,Runtime,Gross (in million $),End_Year,Start_Year,Season,Type,Genre1,Genre2,Genre3,Actor1,Actor2,Actor3,Actor4,Director1,Director2,Director3,Director4,One-Line-Summary
0,Blood Red Sky,6.1,21062,121.0,0.0,None,2021,,,Action,Horror,Thriller,Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti,Peter Thorwarth,None,None,None,"mysterious illness, terrorists attempt"
1,Masters of the Universe: Revelation,5.0,17870,25.0,0.0,,2021,,,Animation,Action,Adventure,Chris Wood,Sarah Michelle Gellar,Lena Headey,Mark Hamill,Unknown,None,None,None,"eternia, final battle, he-man, skeletor, kevin smith"
2,The Walking Dead,8.2,885805,44.0,0.0,2022,2010,,,Drama,Horror,Thriller,Andrew Lincoln,Norman Reedus,Melissa McBride,Lauren Cohan,Unknown,None,None,None,rick grimes
3,Rick and Morty,9.2,414849,23.0,0.0,,2013,,,Animation,Adventure,Comedy,Justin Roiland,Chris Parnell,Spencer Grammer,Sarah Chalke,Unknown,None,None,None,"super scientist, not-so-bright grandson"
4,Army of Thieves,0.0,0,0.0,0.0,None,2021,,,Action,Crime,Horror,Matthias Schweighöfer,Nathalie Emmanuel,Ruby O. Fee,Stuart Martin,Matthias Schweighöfer,None,None,None,"dead, german safecracker, ludwig dieter, top secret heist, early stages, zombie apocalypse"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,Totenfrau,0.0,0,0.0,0.0,,2022,,,Drama,Thriller,None,Felix Klare,Romina Küper,Anna Maria Mühe,Robert Palfrader,Nicolai Rohde,None,None,None,Unknown
9995,Arcane,0.0,0,0.0,0.0,,2021,,,Animation,Action,Adventure,Unknown,None,None,None,Unknown,None,None,None,Unknown
9996,Heart of Invictus,0.0,0,0.0,0.0,,2022,,,Documentary,Sport,None,Prince Harry,None,None,None,Orlando von Einsiedel,None,None,None,Unknown
9997,The Imperfects,0.0,0,0.0,0.0,,2021,,,Adventure,Drama,Fantasy,Morgan Taylor Campbell,Iñaki Godoy,Rhianna Jagpal,Siddhartha Minhas,Jovanka Vuckovic,None,None,None,Unknown
9998,The Imperfects,0.0,0,0.0,0.0,,2021,,,Adventure,Drama,Fantasy,Morgan Taylor Campbell,Jennifer Cheon Garcia,Iñaki Godoy,Rhianna Jagpal,Jovanka Vuckovic,None,None,None,Unknown

# Check for NULL values

In [35]:
# Check for NULL
print(movies_df.isnull().sum())

Movies                     0
Rating                     0
Votes                      0
Runtime                    0
Gross (in million $)       0
End_Year                5286
Start_Year                 0
Season                     0
Type                       0
Genre1                    78
Genre2                  2614
Genre3                  4748
Actor1                     0
Actor2                  1203
Actor3                  1443
Actor4                  1619
Director1                  0
Director2               8662
Director3               9410
Director4               9505
One-Line-Summary           0
dtype: int64

In [36]:
print(movies_df.dtypes)

Movies                   object
Rating                  float64
Votes                     int32
Runtime                 float64
Gross (in million $)    float64
End_Year                 object
Start_Year               object
Season                   object
Type                     object
Genre1                   object
Genre2                   object
Genre3                   object
Actor1                   object
Actor2                   object
Actor3                   object
Actor4                   object
Director1                object
Director2                object
Director3                object
Director4                object
One-Line-Summary         object
dtype: object

# Updated NULL values and datatypes

In [37]:
print(movies_df.isnull().sum())

Movies                     0
Rating                     0
Votes                      0
Runtime                    0
Gross (in million $)       0
End_Year                5286
Start_Year                 0
Season                     0
Type                       0
Genre1                    78
Genre2                  2614
Genre3                  4748
Actor1                     0
Actor2                  1203
Actor3                  1443
Actor4                  1619
Director1                  0
Director2               8662
Director3               9410
Director4               9505
One-Line-Summary           0
dtype: int64

In [38]:
print(movies_df.dtypes)

Movies                   object
Rating                  float64
Votes                     int32
Runtime                 float64
Gross (in million $)    float64
End_Year                 object
Start_Year               object
Season                   object
Type                     object
Genre1                   object
Genre2                   object
Genre3                   object
Actor1                   object
Actor2                   object
Actor3                   object
Actor4                   object
Director1                object
Director2                object
Director3                object
Director4                object
One-Line-Summary         object
dtype: object

# Sort the dataset

__This will sort the pandas dataframe with the values from 'Movies' column alphabatically and reset the index.__

In [39]:
movies_df.sort_values(by=['Rating', 'Gross (in million $)'], ascending=False, inplace=True)
movies_df = movies_df.reset_index(drop=True)

# Write the dataframe as excel

In [40]:
movies_df.to_excel('output.xlsx', index=False)

# Final View of the Dataset

In [41]:
#movies_df[movies_df['Movies'] == 'The Kominsky Method']['One-Line-Summary']
movies_df

,Movies,Rating,Votes,Runtime,Gross (in million $),End_Year,Start_Year,Season,Type,Genre1,Genre2,Genre3,Actor1,Actor2,Actor3,Actor4,Director1,Director2,Director3,Director4,One-Line-Summary
0,BoJack Horseman,9.9,12369,26.0,0.0,2020,2014,,,Animation,Comedy,Drama,Will Arnett,Amy Sedaris,Alison Brie,Paul F. Tompkins,Amy Winfrey,None,None,None,bojack
1,Avatar: The Last Airbender,9.9,8813,92.0,0.0,2008,2005,,,Animation,Action,Adventure,Zach Tyler,Mae Whitman,Jack De Sena,Michaela Jill Murphy,Joaquim Dos Santos,None,None,None,"aang, 's moment, truth arrives, ozai, phoenix king, will, human life"
2,Avatar: The Last Airbender,9.8,5283,92.0,0.0,2008,2005,,,Animation,Action,Adventure,Zach Tyler,Mae Whitman,Jack De Sena,Michaela Jill Murphy,Joaquim Dos Santos,None,None,None,"zuko, katara, fire lord, elsewhere, aang, ozai, comet arrives"
3,Dexter,9.8,11638,51.0,0.0,2013,2006,,,Crime,Drama,Mystery,Michael C. Hall,Julie Benz,Jennifer Carpenter,Desmond Harrington,Steve Shill,None,None,None,"dexter, arthur, collision course, debra, long-hidden truth, rita, dexter, batista, laguerta, ethics breach, season finale"
4,Avatar: The Last Airbender,9.7,2770,24.0,0.0,2008,2005,,,Animation,Action,Adventure,Zach Tyler,Mae Whitman,Jack De Sena,Dante Basco,Dave Filoni,None,None,None,"nation, northern water, tribe, sokka, katara, yue, aang"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9563,Totenfrau,0.0,0,0.0,0.0,,2022,,,Drama,Thriller,None,Felix Klare,Romina Küper,Anna Maria Mühe,Robert Palfrader,Nicolai Rohde,None,None,None,Unknown
9564,Arcane,0.0,0,0.0,0.0,,2021,,,Animation,Action,Adventure,Unknown,None,None,None,Unknown,None,None,None,Unknown
9565,Heart of Invictus,0.0,0,0.0,0.0,,2022,,,Documentary,Sport,None,Prince Harry,None,None,None,Orlando von Einsiedel,None,None,None,Unknown
9566,The Imperfects,0.0,0,0.0,0.0,,2021,,,Adventure,Drama,Fantasy,Morgan Taylor Campbell,Iñaki Godoy,Rhianna Jagpal,Siddhartha Minhas,Jovanka Vuckovic,None,None,None,Unknown
9567,The Imperfects,0.0,0,0.0,0.0,,2021,,,Adventure,Drama,Fantasy,Morgan Taylor Campbell,Jennifer Cheon Garcia,Iñaki Godoy,Rhianna Jagpal,Jovanka Vuckovic,None,None,None,Unknown